{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
/>
<style>
    @media(max-width: 1600px) {
        .real {
            position: relative;
            left: 200px;
        }
        .password {
            position: relative;
            left: 340px;
        }
    }
    @media(max-width: 900px) {
        .real {
            position: relative;
            left: 70px;
        }
        .password {
            position: relative;
            left: 60px;
        }
    }
</style>
<div class="container mt-5 real">
  <h2 class="password">Password reset page</h2>
  <form method="post" class="w-75">
    {% csrf_token %}
    {{ form|crispy }}
    <a class="text-decoration-none" href="{% url 'login' %}">Back to login page</a>
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>
</div>
{% endblock content %}