{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  @media(max-width: 1700px) {
      .reset {
          margin-left: 500px;
      }
      .reset-link {
        margin-left: 670px;
      }
    }
  @media(max-width: 700px) {
      .reset {
          margin-left: 20px;
          margin-top: 100px;
      }
      .reset-link {
        margin-left: 170px;
      }
  }
  </style>
<div class="center-block form-div" id="login">
  <h1 class="reset">Password reset complete</h1>
  <a  class="text-center reset-link btn btn-primary" href="{% url 'login' %}">Back to login</a>
</div>
{% endblock %}