{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
/>
<style>
  .form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }
</style>
<div class="center-block form-div" id="login">
  <form class="form-horizontal form" name="LoginForm" method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary link d-block mb-1">Update password</button>
  </form>
</div>
{% endblock %}