{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="container mx-auto mt-5">
  <div class="row" style="transform: translateY(50px);">
    {% for card in book_cards %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          src="{{ card.book_cover.url }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ card.book_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ card.book_subtitle }}</h6>
          <p class="card-text">
            {{ card.book_description }}
          </p>
          <a href="#" class="btn mr-2"
            ><i class="fas fa-link"></i> Visit Details</a
          >
          <a href="#" class="btn"><i class="fab fa-github"></i> Buy</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
