<nav class="navbar navbar-light">
  <div class="container">
    <a href="{% url 'book:home' %}" class="navbar-brand">AnitaBooks</a>
    <div class="d-flex justify-content-center ml-5">
      <a href="{% url 'book:home' %}" class="mr-4">Home</a>
      <a href="/admin/" class="mr-4">Admin</a>
      <a href="#" class="mr-4">Dashboard</a>
      <a href="#" class="mr-4">About us</a>
    </div>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        name="s"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <button type="submit" style="border: none">
          <i class="fas fa-search"></i>
        </button>
      </span>
    </form>
  </div>
  <!-- dropdown button -->
  <div class="btn dropend">
    <button
      style="transform: translate(30px, 55px); padding: 10px 30px;"
      type="button"
      class="btn btn-secondary"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Category
      <i class="fa-solid fa-bars ml-3"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div>
</nav>
